<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @travel_tipps_category.name %>
</p>

<%= link_to 'Edit', edit_travel_tipps_category_path(@travel_tipps_category) %> |
<%= link_to 'Back', travel_tipps_categories_path %>
