<% content_for :title do %>Newsletters<% end %>
<%= render 'layouts/container' %>
<h1>New Newsletter</h1>

<%= render 'form', newsletter: @newsletter %>

<p>
<%= link_to 'Back', newsletters_path, :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render 'layouts/container_end' %>
