<% content_for :title do %>Users<% end %>
<%= render 'layouts/container' %>
    <h3>Users</h3>
      <table class="table table-hover">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>

<p>Newsletter: 
<% @users.each do |user| %>
              <%= user.email + "; " if user.newsletter_abo %>
          <% end %>
</p>
<%= render 'layouts/container_end' %>
