<% content_for :title do %>Videos<% end %>
<%= render 'layouts/container' %>
<h1>New Video</h1>

<%= render 'form', video: @video %>

<p>
<%= link_to 'Back', videos_path, :class => "btn btn-secondary", :role => "button" %>
</p>

<%= render 'layouts/container_end' %>
