<% content_for :title do %>About<% end %>
<%= render 'layouts/container' %>
<h3>About us</h3>
<p>
We are Elisabeth and Frieder.</br>
On this website we document our cycle tour through europe and asia.

</p>
<%= render 'layouts/container_end' %>