<% content_for :title do %>About<% end %>
<%= render 'layouts/container' %>
<h3>About us</h3>
<p>

We are Elisabeth (25) and Frieder (25) and we want to see more of the world.</br>
On this website we document our cycle tour through Europe and Asia. Our tour will start in August 2017 in Croatia. 
</br>
<p>
Who we are:</br>
We are fascinated by great nature.</br>
We like to travel slowly.</br>
We love to discover parts of the world together.</br>

</p>
<p>
Who we are not:</br>
We are no extreme athletes. We only want to enjoy beaches and mountains.</br>
</p>

</p>
<%= render 'layouts/container_end' %>