<% content_for :title do %>Contact<% end %>
<%= render 'layouts/container' %>
<h3>Contact</h3>
<p>
You can contact us via email:</br>
We.are.cycling.asia@gmail.com
</p>

<%= render 'layouts/container_end' %>