<%= render 'layouts/container' %>
<h1>New Tag</h1>

<%= render 'form', tag: @tag %>

<p>
<%= link_to 'Back', tags_path, :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render 'layouts/container_end' %>