<% content_for :title do %>Travel Tipps<% end %>
<%= render 'layouts/container' %>

<h1>New Travel Tipp</h1>

<%= render 'form', travel_tipp: @travel_tipp %>

<p>
<%= link_to 'Back', travel_tipps_path, :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render 'layouts/container_end' %>
