<% content_for :title do %>Pictures<% end %>
<%= render 'layouts/container' %>
<h1>New Picture</h1>

<%= render 'form', picture: @picture %>

<p>
</br></br></br></br></br></br></br></br></br></br></br></br>
<%= link_to 'Back', pictures_path, :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render 'layouts/container_end' %>
