<%= render 'layouts/container' %>

<h1>New Country</h1>

<%= render 'form', country: @country %>

<p>
</br></br></br></br></br></br></br></br></br></br></br></br>
<%= link_to 'Back', countries_path, :class => "btn btn-secondary", :role => "button"  %>
</p>

<%= render 'layouts/container_end' %>