<%= render 'layouts/container' %>
<h1>New Route</h1>

<%= render 'form', route: @route %>

<p>
</br></br></br></br></br></br></br></br></br></br></br></br>
<%= link_to 'Back', routes_path, :class => "btn btn-secondary", :role => "button" %></p>

<%= render 'layouts/container_end' %>
