<% content_for :title do %>Materials<% end %>
<%= render 'layouts/container' %>
<h1>New Material</h1>

<%= render 'form', material: @material %>

<p><%= link_to 'Back', materials_path, :class => "btn btn-primary", :role => "button" %></p>

<%= render 'layouts/container_end' %>