<% content_for :title do %>Materials<% end %>
<%= render 'layouts/container' %>
<h1>New Material</h1>

<%= render 'form', material: @material %>

<p>
</br></br></br></br></br></br></br></br></br></br></br></br>
<%= link_to 'Back', materials_path, :class => "btn btn-secondary", :role => "button" %></p>

<%= render 'layouts/container_end' %>