<div class="footer-bottom fixed-bottom">

	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

				<div class="copyright">

					© 2017, E.Mansel, All rights reserved

				</div>

			</div>

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">

					 <%= link_to 'Contact us',page_path('contact') %>| 
					 <%= link_to 'Support us',page_path('support') %>
					 
                            
			</div>

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<!-- hitwebcounter Code START -->
									  <span style="color:#8c8c8c"> Visitors:</span>
				<a href="http://www.hitwebcounter.com" target="_blank">
				<img src="http://hitwebcounter.com/counter/counter.php?page=6876822&style=0006&nbdigits=5&type=ip&initCount=18" title="web page hit counters codes Free" Alt="web page hit counters codes Free"   border="0" >
				</a>  
			</div>

		</div>

	</div>

</div>