<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'About', page_path('about'), class: 'nav-link' %></li>
<% if user_signed_in? and current_user.admin? %>
  <li class='nav-item'><%= link_to 'Newsletter', newsletters_path, class: 'nav-link' %></li>
  <li class='nav-item'><%= link_to 'Picture', pictures_path, class: 'nav-link' %></li>
<% end %>